<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Redirect index html" stopProcessing="true">
          <match url="^index\.html$" ignoreCase="true" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect catalog html" stopProcessing="true">
          <match url="^catalog\.html$" ignoreCase="true" />
          <action type="Redirect" url="/katalog/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect html extension" stopProcessing="true">
          <match url="^(.+)\.html$" ignoreCase="true" />
          <conditions>
            <add input="{R:1}" pattern="^404$" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Redirect" url="/{R:1}/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect kapasite-takip" stopProcessing="true">
          <match url="^kapasite-takip/?$" ignoreCase="true" />
          <action type="Redirect" url="/makine-doluluk/" redirectType="Permanent" />
        </rule>
        <rule name="Add trailing slash for routes" stopProcessing="true">
          <match url="^([^./]+)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{APPL_PHYSICAL_PATH}{R:1}" matchType="IsDirectory" />
          </conditions>
          <action type="Redirect" url="/{R:1}/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
