<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".xml" mimeType="application/xml" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Slug iletisim TR" stopProcessing="true">
          <match url="^İletişim/?$" />
          <action type="Redirect" url="/iletisim.html" redirectType="Permanent" />
        </rule>
        <rule name="Slug iletisim ASCII" stopProcessing="true">
          <match url="^iletisim/?$" ignoreCase="true" />
          <action type="Redirect" url="/iletisim.html" redirectType="Permanent" />
        </rule>
        <rule name="Slug hakkimizda TR" stopProcessing="true">
          <match url="^Hakkımızda/?$" />
          <action type="Redirect" url="/hakkimizda.html" redirectType="Permanent" />
        </rule>
        <rule name="Slug hakkimizda ASCII" stopProcessing="true">
          <match url="^hakkimizda/?$" ignoreCase="true" />
          <action type="Redirect" url="/hakkimizda.html" redirectType="Permanent" />
        </rule>
        <rule name="Slug urunler TR" stopProcessing="true">
          <match url="^Ürünler/?$" />
          <action type="Redirect" url="/urunler.html" redirectType="Permanent" />
        </rule>
        <rule name="Slug urunler ASCII" stopProcessing="true">
          <match url="^urunler/?$" ignoreCase="true" />
          <action type="Redirect" url="/urunler.html" redirectType="Permanent" />
        </rule>
        <rule name="Slug referanslar" stopProcessing="true">
          <match url="^Referanslar/?$" />
          <action type="Redirect" url="/referanslar.html" redirectType="Permanent" />
        </rule>
        <rule name="Slug referanslar ASCII" stopProcessing="true">
          <match url="^referanslar/?$" ignoreCase="true" />
          <action type="Redirect" url="/referanslar.html" redirectType="Permanent" />
        </rule>
        <rule name="Slug makine parki TR" stopProcessing="true">
          <match url="^Makine-Parkı/?$" />
          <action type="Redirect" url="/makine-parki.html" redirectType="Permanent" />
        </rule>
        <rule name="Slug makine parki TR alt" stopProcessing="true">
          <match url="^Makine Parkı/?$" />
          <action type="Redirect" url="/makine-parki.html" redirectType="Permanent" />
        </rule>
        <rule name="Slug makine parki ASCII" stopProcessing="true">
          <match url="^makine-parki/?$" ignoreCase="true" />
          <action type="Redirect" url="/makine-parki.html" redirectType="Permanent" />
        </rule>
        <rule name="Slug sertifikalar" stopProcessing="true">
          <match url="^Sertifikalar/?$" />
          <action type="Redirect" url="/sertifikalar.html" redirectType="Permanent" />
        </rule>
        <rule name="Slug sertifikalar ASCII" stopProcessing="true">
          <match url="^sertifikalar/?$" ignoreCase="true" />
          <action type="Redirect" url="/sertifikalar.html" redirectType="Permanent" />
        </rule>
        <rule name="Slug sirketlerimiz TR" stopProcessing="true">
          <match url="^Şirketlerimiz/?$" />
          <action type="Redirect" url="/sirketlerimiz.html" redirectType="Permanent" />
        </rule>
        <rule name="Slug sirketlerimiz ASCII" stopProcessing="true">
          <match url="^sirketlerimiz/?$" ignoreCase="true" />
          <action type="Redirect" url="/sirketlerimiz.html" redirectType="Permanent" />
        </rule>
        <rule name="Slug kapasite" stopProcessing="true">
          <match url="^(Kapasite-Takip|Kapasite Takip|makine-doluluk)/?$" ignoreCase="true" />
          <action type="Redirect" url="/makine-doluluk.html" redirectType="Permanent" />
        </rule>
        <rule name="Strip trailing slash on html" stopProcessing="true">
          <match url="^(.+\.html)/$" />
          <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
